.contact{
	background: #191919;
	width: 100%;
	height: auto;
	float: left;
	&-wrapper{
		width: 90%;
		max-width: 960px;
		margin: 100px auto 185px auto;
		@media #{$middle-wide} {
			max-width: 400px;
			width: 83%;
			margin-bottom: 95px;
		}
	}
	i{
		font-size: 72px;
		float: left;
		color: #ebeeee;
		@media #{$big-wide} {
			font-size: 66px;
		}
		@media #{$middle-wide} {
			display: none;
		}
	}
	h3{
		display: none;
		@media #{$middle-wide} {
			display: block;
			text-align: center;
			font: 16px/24px 'OpenSans Bold', sans-serif;
			color: #EBEEEE;
			text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
			text-transform: uppercase;
			letter-spacing: 3px;
			margin-bottom: 30px;
		}
	}
	p{
		font: 18px/36px 'OpenSans Light', sans-serif;
		color: rgb(99,99,99);
		margin-left: 17.5%;
		margin-bottom: 15px;
		width: 78%;
		@media #{$middle-wide} {
			text-align: center;
			margin: 0px;
			width: 100%;
			font-size: 17px;
			line-height: 33px;
			margin-bottom: 40px;
		}
	}
	form{
		clear: both;
		width: 65%;
		@media #{$middle-wide} {
			width: 100%;
		}
	}
	fieldset{
		border: 0;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	fieldset div{
		display: block;
		width: 100%;
	}
	label{
		font: 15px/24px 'OpenSans Bold', sans-serif;
		color: #EBEEEE;
		display: inline-block;
		width: 27.8%;
		&[for="contactMessage"] {
			vertical-align: top;
			margin-top: 60px;
			@media #{$middle-wide} {
				margin-top: 0px;
			}
		}
		@media #{$middle-wide} {
			text-align: left;
			width: 37.8%;
		}
	}
	span{
		font: 13px/24px 'OpenSans Regular', sans-serif;
		color: #11ABB0;
	}
	input, textarea{
		color: #EEE;
		background: #373233;
		border: 0;
		padding: 22px 20px;
		box-sizing: border-box;
		width: 65%;
		margin: 45px 0 0 -8px;
		outline: none;
		font: 15px arial, sans-serif;
		&:focus{
			background: rgb(17,171,176);
		}
		@media #{$middle-wide} {
			width: 100%;
			margin: 10px 0px 20px 0px;
		}
	}
	textarea{
		height: 350px;
		resize: none;
	}
	button{
		font: 16px/30px 'OpenSans Bold', sans-serif;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #fff;
		background: #0D0D0D;
		border: none;
		cursor: pointer;
		display: inline-block;
		border-radius: 3px;
		padding: 10px 20px;
		transition: all 0.2s;
		&:hover{
			color: #0D0D0D;
			background: #fff;
		}
		position: relative;
		left: 27%;
		top: 40px;
		@media #{$middle-wide} {
			left: 0px;
			top: 15px;
		}
	}

	::-webkit-scrollbar {
		width: 8px;
	}
	 
	/* Track */
	::-webkit-scrollbar-track {
		
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 4px;
		border-radius: 4px;
		background: rgba(100,100,100,0.9);
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(140,140,140,0.9); 
	}
	aside{
		width: 33%;
		float: right;
		margin-top: -722px;
		@media #{$middle-wide} {
			width: 100%;
			float: none;
			margin-top: 72px;
		}
		h4{
			font: 16px/24px 'OpenSans Bold', sans-serif;
			color: #EBEEEE;
			margin-bottom: 6px;
		}
		p{
			font: 15px/30px 'OpenSans Regular', sans-serif;
			color: #636363;
			margin-bottom: 10px;
			&:nth-of-type(1){
				margin-bottom: 30px;
			};
			margin-left: 0px;
			width: 100%;
			text-align: left;
		}
		span{
			font: 13px/36px 'opensans-regular', Sans-serif;
			color: #474747;
		}
		a{
			font: 15px/30px 'OpenSans Regular', sans-serif;
			color: #11ABB0;
			text-decoration: none;
			transition: all 0.2s ease-in-out;
			&:hover{
				color: #fff;
			}
		}
	}
}