nav{
	position: fixed;
	width: 100%;
	height: 48px;
	z-index: 99;
	display: block;
	@media #{$middle-wide} {
		width: 180px;
		height: auto;
		right: 10px;
		top: 8px;
		background-color: #1f2024 !important;
		display: none;
	};
	@media #{$small-wide} {
		width: 100%;
		top: 0px;
		left: 0px;
		box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	};
	.nav-wrapper{
		margin-left: auto;
		margin-right: auto;
		width: 600px;
		@media #{$middle-wide} {
			padding: 15px 0px;
		};
		a{
			text-decoration: none;
			font-family: 'OpenSans Bold', sans-serif;
			font-size: 12px;
			color: white;
			letter-spacing: 2.5px;
			line-height: 47px;
			text-transform: uppercase;
			padding: 15px 12px;
			transition: color 0.2s;
			@media #{$middle-wide} {
				display: block;
				width: 120px;
				height: 10px;
				margin: 0;
				line-height: 12px;
				padding: 18px 30px;
			};
			@media #{$small-wide} {
				padding-right: 50%;
			};
			&.active{
				color: rgb(226,91,1);
			}
		}
	}
}

.nav-button{
	display: none;
	@media #{$middle-wide} {
		display: block;
	};
	background-color: #CC5200;
	width: 48px;
	height: 48px;
	position: fixed;
	right: 30px;
	cursor: pointer;
	z-index: 98;
	div{
		width: 24px;
		height: 4px;
		background-color: white;
		margin: auto;
		margin-top: 8px;
		&:nth-of-type(1){
			margin-top: 16px;
		};
	}
}

header{
	width: 100%;
	background: url('#{$path-img}/head_bg.jpg') no-repeat;
	background-position: top center;
	background-size: cover;
	display: table;
	float: left;
	min-height: 480px;
}

.banner{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	&-wrapper{
		margin-right: auto;
		margin-left: auto;
		@include wrapper-width(1000px);
		margin-top: -40px;
	}

	span{
		color: white;
	}

	h1{
		@include font(90px, 2.1em);
		font-family: 'OpenSans Bold', sans-serif;
		color: white;
		margin: 0px;
		@media #{$middle-wide} {
			margin-top: 60px;
		};
	}

	p{
		color: #A8A8A8;
		font: 18px/1.9em 'Librebaskerville Regular', serif;
		margin: 20px auto 20px auto;
		max-width: 740px;
		width: 95%;
		@media #{$middle-wide} {
			font-size: 15px;
			line-height: 1.8em;
		};
	}

	.divider{
		background-color: rgba(168,168,168,0.1);
		height: 1px;
		margin: auto;
		width: 60%;
		@media #{$middle-wide} {
			width: 80%;
		};
	}

	ul{
		text-align: center;
		padding-left: 0px;
	}

	li{
		list-style: none;
		display: inline-block;
		padding: 0 20px;
		@media #{$middle-wide} {
			padding: 0 5px;
		};
		margin-top: 15px;
	}

	i{
		font-size: 30px;
		@media #{$middle-wide} {
			font-size: 20px;
		};
		@extend %icon-style;
	}
}

.scroll-down{
	position: absolute;
    left: 50%;
    bottom: 26px;
    margin-left: -29px;
    cursor: pointer;
    i{
    	font-size: 42px;
    	@extend %icon-style;
    }
    @media #{$middle-wide} {
		display: none;
	};
}