.works{
	background-color: #EBEEEE;
	width: 100%;
	height: auto;
	float: left;
	&-wrapper{
		//@include wrapper-width(1000px);
		width: 95%;
		max-width: 1024px;
		margin: 90px auto;
		text-align: center;
	}
	h6{
		font: 15px/24px 'OpenSans Semibold', sans-serif;
		color: #95A3A3;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 30px;
	}
	&-pic{
		width: 21%;
		padding: 16px;
		display: inline-block;
		@media #{$big-wide} {
			width: 28%;
		};
		@media #{$middle-wide} {
			width: 400px;
		};
		@media #{$small-wide} {
			width: 90%;
		};
	}
	img{
		width: 100%;
	}
}
