.works{
	background-color: #EBEEEE;
	width: 100%;
	height: auto;
	float: left;
	&-wrapper{
		width: 98%;
		max-width: 1024px;
		margin: 90px auto;
		text-align: center;
	}
	h6{
		font: 15px/24px 'OpenSans Semibold', sans-serif;
		color: #95A3A3;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 30px;
	}
	&-black{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		z-index: 100;
		display: none;
	}
	&-pic{
		&:nth-of-type(2) {
			background: url('#{$path-img}/coffee.jpg') no-repeat;
		};
		&:nth-of-type(3) {
			background: url('#{$path-img}/coffee.jpg') no-repeat;
		};
		&:nth-of-type(4) {
			background: url('#{$path-img}/coffee.jpg') no-repeat;
		};
		&:nth-of-type(5) {
			background: url('#{$path-img}/coffee.jpg') no-repeat;
		};
		&:nth-of-type(6) {
			background: url('#{$path-img}/coffee.jpg') no-repeat;
		};
		&:nth-of-type(7) {
			background: url('#{$path-img}/coffee.jpg') no-repeat;
		};
		&:nth-of-type(8) {
			background: url('#{$path-img}/coffee.jpg') no-repeat;
		};
		&:nth-of-type(9) {
			background: url('#{$path-img}/coffee.jpg') no-repeat;
		};
		background-size: cover !important;
		background-position: center;
		width: 21%;
		margin: 14px;
		display: inline-block;
		@media #{$big-wide} {
			width: 28%;
		};
		@media #{$middle-wide} {
			width: 400px;
		};
		@media #{$small-wide} {
			width: 90%;
		};

		&-hover{
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.7);
			display: table;
			cursor: pointer;
			opacity: 0;
			&:hover{
				opacity: 1;
			}
			transition: opacity 0.5s;
			h5{
				font: 14px/21px 'OpenSans Bold', sans-serif;
				color: #fff;
				display: inline;
				position: absolute;
				margin-top: 18px;
				margin-left: 18px;
			}
			p{
				font: 12px/18px 'OpenSans Light', sans-serif;
				color: #c6c7c7;
				display: inline;
				position: absolute;
				margin-top: 39px;
				margin-left: 18px;
			}
			i{
				font-size: 18px;
				color: white;
				display: table-cell;
				vertical-align: middle;
				width: 100%;
			}
		}
		&-click{
			display: none;
		}
	}
}
